<div *ngIf="loading" class="loading-screen">
  <img src="assets/loading.gif" alt="Loading..." />
</div>
<div class="container" *ngIf="!loading">
  <div class="header">
    <h1>Active Classic Leagues</h1>
  </div>
  <div class="search-container" *ngIf="playerData !== null">
    <div class="league-select pb-5">
      <select
        id="league"
        (change)="onLeagueChange($event)"
        [value]="currentLeagueID"
        class="custom-select"
      >
        <option>{{ leagueName }}</option>
        <option *ngFor="let league of classicLeague" [value]="league.id">
          {{ league.name }}
        </option>
      </select>
    </div>
    <div *ngIf="results.length < 1">
      <p class="text-center">Not Started Yet.</p>
    </div>
    <div *ngIf="results !== null && results.length > 0">
      <h5 class="text-center pb-4">
        <span *ngIf="results.length === 50">Top 50 of </span> League
        <strong>{{ leagueName }} </strong>
      </h5>
      <div
        class="result-container"
        *ngFor="let res of results"
        (click)="getPlayersDetail(res.entry)"
      >
        <div class="manager-info">
          <p class="manager-rank">{{ res.rank }}</p>
          <p class="manager-rank">
            <strong>Player Name:</strong> {{ res.player_name | titlecase }}
          </p>
          <p class="manager-rank">
            <strong>Entry Name:</strong> {{ res.entry_name | titlecase }}
          </p>
          <p class="manager-rank">
            <strong>Last Rank:</strong> {{ res.last_rank }}
          </p>
        </div>

        <div class="match-details" *ngIf="leaguePlayerID === res.entry">
          <div *ngFor="let id of playerIDs" class="player-card">
            <div class="card">
              <img
                *ngIf="combinedPlayerData[id]"
                src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{
                  combinedPlayerData[id].logo
                }}.png"
              />
            </div>
            <div class="card-body text-center">
              <h5 class="card-title" *ngIf="combinedPlayerData[id]">
                {{ combinedPlayerData[id].name || "-" }}
                <span
                  *ngIf="
                    combinedPlayerData[id].playerID === captainedPlayerID &&
                    combinedPlayerData[id].playerID !== tripleCaptainPlayerID
                  "
                  >(c)</span
                ><span
                  *ngIf="
                    combinedPlayerData[id].playerID === tripleCaptainPlayerID
                  "
                  >(tc)</span
                ><span
                  *ngIf="
                    combinedPlayerData[id].playerID === viceCaptainPlayerID
                  "
                  >(vc)</span
                >
              </h5>
              <p
                *ngIf="
                  combinedPlayerData[id] &&
                  combinedPlayerData[id].playerID === tripleCaptainPlayerID
                "
              >
                {{
                  combinedPlayerData[id].points +
                    combinedPlayerData[id].points +
                    combinedPlayerData[id].points || "-"
                }}
              </p>
              <p
                *ngIf="
                  combinedPlayerData[id] &&
                  combinedPlayerData[id].playerID === captainedPlayerID &&
                  combinedPlayerData[id].playerID !== tripleCaptainPlayerID
                "
              >
                {{
                  combinedPlayerData[id].points +
                    combinedPlayerData[id].points || "-"
                }}
              </p>
              <p
                *ngIf="
                  combinedPlayerData[id] &&
                  combinedPlayerData[id].playerID !== captainedPlayerID &&
                  combinedPlayerData[id].playerID !== tripleCaptainPlayerID
                "
              >
                {{ combinedPlayerData[id].points || "-" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="search-container" *ngIf="playerData === null">
    <div class="fpl-id-instructions">
      <p class="title">
        Please go to <a routerLink="/fpl">My FPL</a> and enter the correct FPL
        ID or Join a league in
        <a routerLink="https://fantasy.premierleague.com/leagues"
          >Fantasy Premier League App.</a
        >.
      </p>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
