<div *ngIf="loading" class="loading-screen">
  <img src="assets/loading.gif" alt="Loading..." />
</div>
<div class="container" *ngIf="!loading">
  <div class="header">
    <h1>Active Classic Leagues</h1>
  </div>
  <div class="search-container" *ngIf="playerData !== null">
    <div class="league-select pb-5">
      <select
        id="gameweek"
        (change)="onLeagueChange($event)"
        [value]="classicLeague"
        class="custom-select"
      >
        <option *ngFor="let gw of classicLeague" [value]="gw.id">
          {{ gw.name }}
        </option>
      </select>
    </div>
    <div *ngIf="results.length < 1">
      <p class="text-center">Not Started Yet.</p>
    </div>
    <div *ngIf="results !== null && results.length > 0">
      <h5 class="text-center pb-4">
        <span *ngIf="results.length === 50">Top 50 of </span> League
        <strong>{{ leagueName }} </strong>
      </h5>
      <div class="result-container" *ngFor="let res of results">
        <p><strong>Rank:</strong> {{ res.rank }}</p>
        <p><strong>Player Name:</strong> {{ res.player_name | titlecase }}</p>
        <p><strong>Entry Name:</strong> {{ res.entry_name | titlecase }}</p>
        <p><strong>Last Rank:</strong> {{ res.last_rank }}</p>
      </div>
    </div>
  </div>

  <div class="search-container" *ngIf="playerData === null">
    <div class="fpl-id-instructions">
      <p class="title">
        Please go to <a routerLink="/fpl">My FPL</a> and enter the correct FPL
        ID.
      </p>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
