.fixtures-container {
  padding: 20px;
  max-width: 90%;
  margin: auto;
  background-color: #07f2f2;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  overflow-x: auto;
}

.fixtures-title {
  color: #37003c;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.mat-table {
  width: 100%;
  min-width: 600px; /* Ensure the table doesn't get too narrow */
}

.mat-header-cell,
.mat-cell {
  padding: 16px;
  text-align: center;
}

.mat-header-cell {
  background-color: #37003c;
  color: white;
}

.mat-row:nth-child(even) .mat-cell {
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .fixtures-container {
    padding: 10px;
  }

  .fixtures-title {
    font-size: 1.2rem;
  }

  .mat-header-cell,
  .mat-cell {
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .fixtures-title {
    font-size: 1rem;
  }

  .mat-header-cell,
  .mat-cell {
    padding: 6px;
    font-size: 0.8rem;
  }

  .mat-table {
    min-width: 100%;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination span {
  line-height: 35px;
}
