<div *ngIf="loading" class="loading-screen">
  <img src="assets/loading.gif" alt="Loading..." />
</div>
<div class="container" *ngIf="!loading">
  <div class="header">
    <h1>FPL Manager Search</h1>
  </div>
  <div class="search-container">
    <input
      type="number"
      [(ngModel)]="managerID"
      placeholder="Enter Manager ID"
    />
    <button (click)="loadTeamData()">Change ID</button>
  </div>
  <div class="fpl-id-instructions">
    <p class="title">How to Get Your Personal FPL ID</p>
    <span class="instructions">
      <strong>Step 1:</strong> Log into the official Fantasy Premier League
      website.
      <br />
      <strong>Step 2:</strong> Click on the 'Points' tab.
      <br />
      <strong>Step 3:</strong> Look for the number in the URL of that webpage
      after <code>'fantasy.premierleague.com/entry/'</code>. This is your unique
      FPL ID.
    </span>
  </div>

  <div *ngIf="playerData" class="player-info">
    <div class="manager-info">
      <h3 class="text-center pb-4">Manager Info</h3>
      <p>
        <strong>Name:</strong> {{ playerData.player_first_name }}
        {{ playerData.player_last_name }}
      </p>
      <p><strong>ID:</strong> {{ playerData.id }}</p>
      <p><strong>Years Active:</strong> {{ playerData.years_active }}</p>
      <p><strong>Region:</strong> {{ playerData.player_region_name }}</p>
      <p>
        <strong>Overall Points:</strong> {{ playerData.summary_overall_points }}
      </p>
      <p>
        <strong>Overall Rank:</strong> {{ playerData.summary_overall_rank }}
      </p>
      <p>
        <strong>Event Points:</strong> {{ playerData.summary_event_points }}
      </p>
      <p><strong>Event Rank:</strong> {{ playerData.summary_event_rank }}</p>
      <p><strong>Started Event:</strong> {{ playerData.started_event }}</p>
    </div>
    <div *ngIf="playerData.started_event > 0">
      <div class="dropdown-container">
        <h4 class="text-center pb-4">Gameweek Points:</h4>
        <div class="text-center pb-4">
          <label for="gameweek">Gameweek :</label>
          <select
            id="gameweek"
            (change)="onGameweekChange($event)"
            [value]="selectedEvent"
            class="custom-select"
          >
            <option *ngFor="let event of events" [value]="event">
              {{ event }}
            </option>
          </select>
        </div>

        <div class="entry-history" *ngIf="entryHistory">
          <h3 class="pb-4">Entry History</h3>
          <div class="entry-item">
            <span class="entry-label">Bank (in millions):</span>
            <span class="entry-value">
              {{ entryHistory.bank / 10 | number : "1.1-2" }}
            </span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Event:</span>
            <span class="entry-value">{{ entryHistory.event }}</span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Transfers:</span>
            <span class="entry-value">{{ entryHistory.event_transfers }}</span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Transfers Cost (in millions):</span>
            <span class="entry-value">{{
              entryHistory.event_transfers_cost | currency
            }}</span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Overall Rank:</span>
            <span class="entry-value">{{
              entryHistory.overall_rank | number
            }}</span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Percentile Rank:</span>
            <span class="entry-value">{{ entryHistory.percentile_rank }}%</span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Overall Points:</span>
            <span class="entry-value">{{ entryHistory.points }}</span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Points on Bench:</span>
            <span class="entry-value">{{ entryHistory.points_on_bench }}</span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Gameweek Rank:</span>
            <span class="entry-value">{{ entryHistory.rank | number }}</span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Total Points:</span>
            <span class="entry-value">{{ entryHistory.total_points }}</span>
          </div>
          <div class="entry-item">
            <span class="entry-label">Value:</span>
            <span class="entry-value">{{
              entryHistory.value / 10 | number : "1.2-2"
            }}</span>
          </div>
          <div class="players-picked">
            <h4 class="text-center pb-4">Players</h4>
            <div class="classic-leagues" *ngFor="let players of playersPicked">
              <li class="league-names">
                <span class="league-name">{{ players.position }}</span>
                <span
                  class="league-rank"
                  *ngIf="players.is_captain && playerMap[players.element]?.name"
                >
                  {{ playerMap[players.element].name || "Unknown Player" }}
                  <strong>(C)</strong></span
                >
                <span
                  class="league-rank"
                  *ngIf="
                    !players.is_captain &&
                    !players.is_vice_captain &&
                    playerMap[players.element]?.name
                  "
                >
                  {{ playerMap[players.element].name || "Unknown Player" }}
                </span>
                <span
                  class="league-rank"
                  *ngIf="
                    players.is_vice_captain && playerMap[players.element]?.name
                  "
                  >{{
                    playerMap[players.element].name || "Unknown Player"
                  }}
                  (VC)</span
                >
                <img
                  *ngIf="playerMap[players.element]?.logo"
                  width="60px"
                  src="https://resources.premierleague.com/premierleague/photos/players/110x140/p{{
                    playerMap[players.element].logo
                  }}.png"
                />
                <span
                  *ngIf="
                    playerPointsMap[players.element] &&
                    players.is_captain &&
                    activeChip != '3xc'
                  "
                  >{{
                    playerPointsMap[players.element] +
                      playerPointsMap[players.element]
                  }}</span
                >
                <span
                  *ngIf="
                    playerPointsMap[players.element] &&
                    players.is_captain &&
                    activeChip === '3xc'
                  "
                  >{{
                    playerPointsMap[players.element] +
                      playerPointsMap[players.element] +
                      playerPointsMap[players.element]
                  }}</span
                >
                <span
                  *ngIf="
                    playerPointsMap[players.element] && !players.is_captain
                  "
                  >{{ playerPointsMap[players.element] }}</span
                >
                <span *ngIf="!playerPointsMap[players.element]"> - </span>
                <span *ngIf="players.position > 11"> Sub </span>
                <span *ngIf="players.position < 12"></span>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="playerData.leagues.classic.length > 0">
      <h4 class="leagues">Classic League(Current Rank):</h4>
      <div
        class="classic-leagues"
        *ngFor="let league of playerData.leagues.classic"
      >
        <li class="league-names">
          <span class="league-name">
            <a [routerLink]="['/leagues', league.id]">{{
              league.name
            }}</a></span
          >
          <span class="league-rank">Rank: {{ league.entry_rank }}</span>
        </li>
      </div>
    </div>
  </div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
