.footer-sponsors {
  width: 100%;
  max-width: initial;
  background: #fff;
  position: relative;
  z-index: 1;
  border-top: 0;
  padding: 0 4.9rem;
}

.footer-sponsors__list::before {
  background: linear-gradient(
    93.93deg,
    #05f0ff 1.12%,
    #7367ff 63.34%,
    #963cff 82.72%
  );
  content: "";
  display: block;
  height: 0.4rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.mainFooter {
  margin-top: 3rem;
  position: relative;
  z-index: 60;
  background: #fff;
}

.footer-sponsors__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-sponsors__sponsor {
  flex: 1 0 17rem;
  padding: 0.7rem 0 2.2rem;
  border-bottom: 0.1rem solid #ebe5eb;
  position: relative;
}

ul li,
ol li {
  list-style-type: none;
}

.footer-sponsors__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8rem;
  color: #000;
  text-decoration: none;
  gap: 0.4rem;
}

a {
  background-color: transparent;
}

.footer-sponsors__image {
  max-width: 10rem;
  height: 6.4rem;
  object-fit: contain;
}

img {
  opacity: 1;
  transition: opacity 0.35s ease-in-out, transform 0.2s;
}

.footer-sponsors__image {
  max-width: 10rem;
  height: 6.4rem;
  object-fit: contain;
}

.footer-sponsors__sponsor-text {
  letter-spacing: -0.04rem;
}

/*Footer Content*/
.mainFooter .footerContent .wrapper {
  display: flex;
  padding: 0;
  gap: 2rem;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: initial;
}

.mainFooter .footerContent {
  padding: 4.8rem 4rem 6.4rem;
  background-color: #37003c;
}

.mainFooter .subHeader {
  color: #fff;
  font-family: "PremierSans-Heavy", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  font-weight: normal;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.list--premier-league,
.list--more {
  column-count: 2;
}

.mainFooter .footer-link-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #fff;
}

.official {
  width: 300px;
  padding-bottom: 3rem;
}

.mainFooter .footer-link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.8rem;
  padding: 0.4rem 0;
  padding-right: 0.2rem;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainFooter .footer-link-wrapper:hover,
.mainFooter .footer-link-wrapper:focus {
  color: #ff2882;
}

.mainFooter .footer-link-wrapper:hover .svg,
.mainFooter .footer-link-wrapper:focus .svg {
  fill: #ff2882;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.mainFooter .footerCorporate {
  font-size: 1.1rem;
  background-color: #37003c;
  border-top: 0.2rem solid #734c76;
  color: #fff;
}

.mainFooter .footerCorporate .wrapper {
  padding-left: 3rem;
  max-width: initial;
}

.wrapper.col-12 {
  float: none;
}

.mainFooter .footerCorporate ul {
  flex-grow: 1;
}

.mainFooter .footerCorporate a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.mainFooter .footerCorporate__logo-container {
  width: 11.8rem;
  height: auto;
  line-height: 1 !important;
}

.mainFooter .footerCorporate__logo {
  width: 100%;
  height: auto;
  display: block;
}

.mainFooter .footerCorporate li {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

@media (max-width: 77.5em) {
  .mainFooter .footerContent {
    padding: 3rem;
  }
  .mainFooter .footerContent .wrapper {
    flex-wrap: wrap;
    gap: 0;
  }
  .mainFooter .footerCol {
    margin-bottom: 1.6rem;
    flex: 0 1 50%;
    padding: 0 0.5rem 2rem;
  }

  .mainFooter .subHeader {
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
  }

  /* .mainFooter .footerContent ul {
    column-count: 2;
  } */

  .mainFooter .footerCorporate ul {
    column-count: 1;
    width: 100%;
    padding-left: 3rem;
  }

  .mainFooter .footerCorporate li:first-child {
    display: block;
    margin-bottom: 2.4rem;
    margin-right: 0;
    padding-right: 0;
  }

  .official {
    padding-bottom: 3rem;
    padding-left: 3rem;
  }
}
